/*Modal button*/

/*Padding and background colour for the button div*/
.boton-modal {
    padding: 20px;
    background-color: aliceblue;
}

/*Styling for labels, giving them font colour and background,
  border and giving transition*/
.boton-modal label {
    padding: 10px 15px;
    background-color: #6DB2F1;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

/*Changes the colour of the label when the mouse is hovered over it.*/
.boton-modal label:hover{
    background-color: #A7D5FF;
}
/*End of the modal button*/


/*Modal window*/
/*By default, the buttons to close the modal are hidden.*/
#btn-modal1, #btn-modal2 {
    display: none;
}

/*Occupies the entire current screen size, is opaque and centre aligned in X, Y*/
.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/*is activated only if the mucal buttons are in checked state, when checked, they look for the first
  sibling element with the container-modal and caseX-modal classes.*/
#btn-modal1:checked ~ .container-modal.case1-modal,
#btn-modal2:checked ~ .container-modal.case2-modal {
    display: flex;
}

.content-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
}
.content-modal h2 {
    margin-bottom: 15px;
}

/*Orange bars above the paragraphs*/
.content-modal p {
    padding: 15px 0px;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
}
.content-modal .btn-cerrar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: #6DB2F1;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover {
    background-color: #A7D5FF;
}
/*End of modal window*/

