@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Contenido para la barra de navegación*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9aacff;
    padding-left: 2vw;
    z-index: 1;
}

.contenido-ul {
    display: flex;
    align-items: center;
    margin-right: 7%;
}

nav li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition: all .5s ease 0;
}

nav li:hover {
    background-color: #A7D5FF;
    opacity: initial;
}

nav ul .desplegable {
    position: relative;
    margin: 0 30px 0 30px;
}


/*Parte para que haya una transición al poner el mouse encima de uno de los links segunda ul*/
.segunda-ul {
    position: absolute;
    margin-top: 1.5vw;
    transform: translateY(-10px); /* Añadimos un pequeño desplazamiento hacia arriba */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transición para opacidad y posición */
    visibility: hidden; /* Para evitar que interfiera cuando está oculto */
}

nav ul .desplegable:hover .segunda-ul {
    opacity: 1;
    transform: translateY(0); /* Volvemos la posición a su estado original */
    visibility: visible; /* Hacemos visible el menú */
}
/*Fin de la parte para que haya una transición al poner el mouse encima de uno de los links segunda ul*/

.segunda-ul li {
    width: 150px;
    transform: translateX(-30px);
    border-bottom: solid 1px #6DB2F1;
    text-align: center;
    background-color: #A7D5FF;
}

.segunda-ul li:hover {
    background-color: #9aacff;
}

nav ul .desplegable:hover  .segunda-ul {
    display: block;
}

nav p img {
    width: 120px;
    transition: width 1s;
    position: relative;
    z-index: 2;
    
}

/*Fin del contenido para la barra de navegación*/
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburguesa span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s ease;
}

@media (max-width: 600px) {
    .contenido-ul {
        display: none; /* Oculta el menú por defecto en pantallas pequeñas */
        flex-direction: column;
        position: absolute; /* Permite que el menú se superponga */
        background-color: #9aacff;
        width: 100%;
        top: 60px; /* Ajusta la posición del menú debajo del nav */
        left: 0;
        z-index: 1; /* Establece un z-index menor para el menú */
        }

    .contenido-ul.active {
        display: flex; /* Mostramos el menú cuando esté activo */
    }

    .menu-hamburguesa {
        display: flex; /* Mostramos el menú de hamburguesa */
    }

    .desplegable {
        z-index: 2;
    }
    .segunda-ul li {
        width: 120px;
        transform: translateX(65px); /*Esto es para que los textos no se sobrepongan con el menu*/
        border-bottom: solid 1px #6DB2F1;
        text-align: center;
        background-color: #A7D5FF;
        z-index: 3;
    }
}